@use '../base/settings' as *;
@use '../utilities/mixins' as *;

// overwrite bootstrap styles
.toast-body {
	font-size: 1rem;
}

.toast {
	--bs-toast-bg: rgba(var(--bs-body-bg-rgb), 0.95);
}

.rounded.me-2 {
	width: 20px;
}

// custom styles
.toast-wrapper {
  display: flex;
  justify-content: center;
}

.notification {
	display: flex;
	justify-content: space-between;
}

.notification .cta {
	@include button;
	margin-top: 0.75rem;
	width: 47%;
	font-size: 1rem;
}

.toast-slide {
	animation: slideDown 0.5s ease 1s;
	animation-fill-mode: both;
}

@keyframes slideDown {
	from {
		transform: translateY(-5rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}



/* ---------- desktop styling ---------- */

@media (min-width: 75em) {

  .toast-wrapper {
    justify-content: flex-end;
  }

}