@use '../base/settings' as *;

.home-landing {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	min-height: 90vh;
	justify-content: center;
}

.home-tagline {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 40% 40% 40%;

	// name
	span:nth-child(1) {
		font-size: clamp(8rem, 30vw, 10rem);
		line-height: 1;
		padding-right: 1.2rem;
		grid-column: span 2 / span 2;
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: -0.5rem;
	}

	// taglines
	span:nth-child(2),
	span:nth-child(3) {
		grid-row-start: 2;
		font-size: 1.25rem;
		font-weight: $bold;
		text-transform: uppercase;
		align-self: end;
	}

	span:nth-child(2) {
		justify-self: start;
	}

	span:nth-child(3) {
		justify-self: end;
	}
}

.scroll-down {
	grid-column: span 2 / span 2;
	width: 1.5rem;
	align-self: center;
	justify-self: center;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 100% {
		transform: rotate(90deg) translateX(0);
	}
	50% {
		transform: rotate(90deg) translateX(-1rem);
	}
}

.home-portrait {
	max-width: 25rem;
}



/* ---------- desktop styling ---------- */

@media (min-width: 75em) {

	.home-landing {
		justify-content: space-around;
		place-items: center;
		width: 100%;
		margin-top: 1rem;
	}

	.home-tagline {
		grid-template-rows: 55% 40% 40%;

		// name
		span:nth-child(1) {
			font-size: clamp(15rem, 30vw, 30rem);
			line-height: 0.8;
		}

		// taglines
		span:nth-child(2) {
			font-size: 2rem;
			justify-self: center;
			padding-right: 7rem;
		}

		span:nth-child(3) {
			font-size: 2rem;
			justify-self: center;
			padding-left: 7rem;
		}
	}

	.scroll-down {
		width: 2rem;
		align-self: end;
	}

	.scroll-down img {
		transition: 0.3s ease;

		&:hover {
			filter: drop-shadow(0 0 3px $accent);
		}
	}

	.home-portrait {
		position: absolute;
		left: 50%;
		transform: translate(-55%);
		max-width: none;
		width: clamp(15rem, 38vw, 38rem);
		margin-bottom: 1rem;
	}

}