@use '../base/settings' as *;

.home-name {
	font-size: clamp(6rem, 30vw, 15rem);
	letter-spacing: -1.25rem;
	margin: 0 auto;
	width: fit-content;
	padding-right: 1.7rem;
	line-height: 1;
}



/* ---------- tablet styling ---------- */

@media (min-width: 75em) {

	.home-name {
		font-size: clamp(15rem, 30vw, 30rem);
		padding-right: 2.5rem;
		line-height: 0.8;
	}

}