@use '../base/settings' as *;
@use '../utilities/mixins' as *;

.single-grid {
	max-width: 37.5rem;
	margin: 1rem auto;
}

.single-left h1 {
	text-align: center;
	font-size: 3rem;
	line-height: 2.5rem;
	margin: 2rem 1rem;
}

.single-hero img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.single-links {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	margin: 2rem;
}

.view-link {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	
	a {
		@include link;
		font-size: 1.25rem;
	}

	span {
		padding-left: 0.25rem;
	}

	img {
		width: 1.5rem;
		margin-bottom: 0.25rem;
	}
}

.single-details {
	margin: 2.5rem 1rem;
}

.single-details-label {
	font-weight: $bold;
	margin-top: 1.5rem;
	text-transform: uppercase;
	font-family: $primary;
}

.single-right h1 {
	display: none;
}

.single-right a {
	@include link;
	font-weight: $bold;

	img {
		width: 1rem;
	}
}

.single-blurb {
	margin: 1rem 1rem 2rem 1rem;
}

// overwrite accordion styles
.accordion-item {
	border: none;
}

.accordion-button {
	font-weight: $bold;
	text-transform: uppercase;
	font-family: $primary;
	font-size: 1.5rem;
	text-align: right;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed,
.accordion-body {
	background-color: $light;
	color: $dark;

	p {
		margin-bottom: 1rem;
	}
}



/* ---------- desktop styling ---------- */

@media (min-width: 75em) {
    
	.single-grid {
		max-width: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 3rem 2rem 0 3rem;
		gap: 5rem;
	}

	.single-left h1 {
		display: none;
	}

	.single-hero img {
		margin: 0;
		border-radius: 5px;
	}

	.view-link a {
		@include underline;
		font-size: 1.5rem;
	}

	.single-right h1 {
		display: block;
		font-size: 3rem;
		line-height: 3rem;
		margin: 1rem 0 2rem 0;
	}

	.single-right a {
		@include underline;
		padding-bottom: 0.5rem;
		overflow: visible;

		&::after {
			clip-path: inset(0 100% 0 0);
			transform: none;
			transition: opacity 300ms, clip-path 300ms;
		}

		&:hover::after {
			clip-path: inset(0 0% 0 0);
		}
	}

	.single-blurb {
		margin: 0 0 2rem 0;
	}

	.accordion {
		--bs-accordion-btn-padding-x: 0;
	}

	.accordion-body {
		padding: 1rem 0;
	}
}