@use '../base/settings' as *;

.project-single-title {
	line-height: 1.75rem;
}

.single-title-close {
	display: grid;
	grid-template-columns: 90% 10%;
	margin: 0.5rem;
}

.close {
	text-align: right;
}

.project-single-stacks {
	margin: 0.5rem;
}

.single-hero img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
	margin: 1rem 0;
}

.single-links {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	margin: 0 2rem;
}

.view-link {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	
	a {
		text-decoration: none;
		font-size: 1rem;
		text-transform: uppercase;
		color: $dark;
	}

	img {
		width: 1.5rem;
		margin-bottom: 0.25rem;
	}
}

.single-details {
	margin: 2.5rem 0.5rem 0 0.5rem;
}

.single-details-label {
	font-weight: 700;
	margin-top: 1.5rem;
	text-transform: uppercase;
	font-family: $primary;
}

.accordion-item {
	border: none;
}

.accordion-button {
	font-weight: 700;
	text-transform: uppercase;
	font-family: $primary;
	font-size: 1.5rem;
	text-align: right;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed,
.accordion-body {
	background-color: $light;
	color: $dark;
}


@media (min-width: 75em) {
    
	.single-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 3rem 2rem 0 3rem;
		gap: 4rem;
	}

	.single-hero img {
		margin: 0;
	}

	.single-links {
		font-size: 3rem;
		padding: 1rem 0 0 0;
	}

	.single-title {
		font-size: 3rem;
		line-height: 3rem;
		margin: 1rem 0 2rem 0;
	}

	.single-blurb {
		margin-bottom: 2rem;
	}

	.view-link {
		a {
			font-size: 1.5rem;
		}

		span {
			padding-left: 0.5rem;
		}
	}

	.accordion {
		--bs-accordion-btn-padding-x: 0;
	}

	.accordion-body {
		padding: 1rem 0;
	}
}