@use '../base/settings' as *;

.portfolio-wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: $dark $light;
	inset: 0.5rem 0.5rem 3rem 0.5rem;
	border: 2px solid $dark;
	border-radius: 5px;
	position: fixed;
	transition: 1s;
}

.portfolio-wrapper.active {
	inset: 0.5rem 0.5rem 16rem 0.5rem;
}

@media (min-width: 75em) {

	.portfolio-wrapper {
		inset: 1rem 1rem 1rem 3rem;
	}

	.portfolio-wrapper.active {
		inset: 1rem 1rem 1rem 3rem;
	}
}